// ScoreBox
.score {
  display: flex;
  font-size: 1.4rem;
  @extend .area;

  em {
    color: #111;
    font-size: 1.8rem;
    font-style: normal;
  }

  &__header {
    @extend .columns;
    background-color: #ddd;
    border-radius: .25rem;
    flex-grow: 1;
    padding: 0 2rem;
  }

  &__severity {
    align-self: flex-start;
    background-color: #F7F4E5;
    border-radius: .25rem;
    padding: 1rem;

    &--none { color: #555; }
    &--mild { color: #c7a20e; }
    &--moderate { color: #d40c0c; }
    &--moderately.severe { color: #da2020; }
    &--severe { color: #f00; }
  }

  &__details {
    @extend .columns;
    flex-grow: 1;

    & span:nth-of-type(3) {
      border-top: 1px solid #111;
    }

    > * {
      padding: 0.5rem 1rem;
    }
  }

  &__total {

    > em:first-child {
      color: #d40c0c;
    }

  }

  &__ranges {
    color: #555;
    &::before{
      content: 'Ranging between';
      font-size: 1.2rem;
      padding-right: 1rem;
    }

    em:first-child::after {
      content: '-';
      padding: 0 .5rem;
    }
  }
}
