
.therapists {
  background-color: #F7F4E5;
  border-radius: .25rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 2rem;

  &__sort {
    button {
      @extend .light-button-inline;
      margin: 0 .5rem;
    }
  }

  // Thanks message
  &__thanks{
    background: #fff;
    border-radius: .25rem;
    padding: 1rem;
    line-height: 2rem;

    &-name {
      font-size: 1.4rem;
      @extend .underline-button;
    }
  }
  // Therapist when thanks message appears
  &__thanks + &__link-name {
    display: none;
  }

  // Therapist Item
  &__link {
    align-items: baseline;
    border-bottom: 3px dashed #dad4b6;
    display: flex;
    line-height: 1.5rem;

    & > * {
      padding: 0 .95rem;
      text-align: center;
    }

    &:last-of-type {
      border: none;
    }

    &-contact {
      cursor: pointer;
      @extend .light-button-inline;
    }

    &-name {
      font-weight: bold;
      font-size: 1.4rem;
    }
    &-email {
      border-bottom: 1px solid #111;
      cursor: pointer;
      font-size: 1rem;
    }
    &-specialty {
      font-style: italic;
      color: #555;

      &::before {
        content: 'Specialty: ';
        padding-right: .5rem;
      }
    }

  }
}


// Called in media-queries.scss
@mixin therapists--sm() {
  .therapists {
    &__link {
      flex-direction: column;
      padding: .5rem;

      & > * {
        line-height: 2rem;
        text-align: left;
      }
    }
  }
}

@mixin therapists--md() {

}
