{
  "extends": "airbnb",
  "ecmaFeatures": {
    "globalReturn": true,
    "jsx": true,
    "modules": true
  },
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "arrow-parens": ["error", "as-needed"],
    "react/self-closing-comp": [0],
    "no-console": ["error", { "allow": ["log", "debug", "warn", "error"] }],
    "max-len": [0],
    "jsx-quotes": [2, "prefer-double"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/prop-types":[0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0],
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-prototype-builtins":0,
    "no-unused-vars": ["error", { "args": "none" }],
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/first": [1],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
  },
  "env": {
    "browser": true,
    "node": true,
    "es6" : true,
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "import/extensions": [2, "never", { "json": "always" }],
    "import/resolver": ["webpack", "node"],
  }
}
