html{  font-size: 100%;}

body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #111;
}
/* Form */
label {
	display: block;
	font-size: 1.4rem;
	font-weight: 200;
	vertical-align: top;
}

/* Typography */
h1 {
  text-align: center;
  font-size: 1.8rem;
  background-color: #F7F4E5;
  padding: 1rem;
}
h2{
  font-size: 1.4rem;
}
h3 {
  font-size: 1.6rem;
  padding: .25rem;
}

p {
  display: block;
  padding: 0.5rem 1rem;
  line-height: 2.3rem;
  font-size: 1.6rem;
}

/* Naviagation */
a {
  background-color: #fff;
  font-size: 1.2rem;
  color: #111;
  text-decoration: none;
  margin: .5rem 1rem;
  border-bottom: 1px solid #ffc800;
}
nav > a{
  font-size: 1.5rem;
  color: #ffc800;
  background-color: #333;
  padding: .5rem 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: .25rem;
  text-align: center;
}
nav > a.active{
  background-color: #fff;
  font-size: 1rem;
}
b {
  font-weight: bold;
}
/* Areas */
section, aside{
  display: block;
  padding: 0.1rem;
  margin: 1rem 0.5rem;
  border-radius: .25rem;
  border: 1px solid #ddd;
}

section > p {
  display: block;
  font-size: 1.6rem;
  line-height: 2.3rem;
  padding: 1rem;
}

aside {
  white-space: nowrap;
}
aside p > span:first-child {
  border-bottom: 1px solid #111;
}
aside em {
  color: #d40c0c;
  font-size: 1.8rem;
  font-style: normal;
}
aside em ~ em {
  color: #111;
}
aside > * {
  display: inline-block;
  white-space: normal;
  width: 50%;
}
aside header {
  background-color: #ddd;
  border-radius: .25rem;
  padding: 0 1rem;
}
aside ul {
  font-size: 1.2rem;
  padding: 0;
  margin: 1rem 0;
  list-style: none;
  line-height: 1rem;
  border-radius: .25rem;
  background-color: #F7F4E5;
}
aside li {
  display: block;
  border-bottom: 1px solid #e2d8d8;
  padding: .5rem;
}
aside li:last-child {
  border: none;
}
footer {
  background-color: #333;
  color: #fff;
  padding: .5rem 1rem;
  font-size: .95rem;
  margin-top: 1rem;
  font-weight: normal;
  display: block;
  border-radius: .25rem;
}
footer span{
  display: inline-block;
  font-style: italic;
  position: relative;
}
footer span.answered::before{
  content: 'Answered ';
  font-style: italic;
}
footer span.answered{
  color: #f00;
}
footer span + span{
  float: right;
  font-style: normal;
}
footer span + span::before{
  content: '#';
}
