* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  width: 100%;
}
img {
  max-width: calc(100% -0);
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  background: none;
  border: none;
}
