html,
body,
#root {
  height: 100%;
}

body {
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
}

button:focus,
input:focus {
  outline-color: #ffc800;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}
